{% extends 'layouts/user.layout.html.twig' %}

{% block content %}

    {% block fos_user_content %}
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    {% endblock fos_user_content %}

{% endblock %}