<div class="content-details show">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Заголовок</label>
                <input type="text" name="title" placeholder="Заголовок" class="form-control">
            </div><!-- /.form-group -->
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>Рубрика</label>
                <select name="heading" data-placeholder="выберите Рубрику" class="standardSelect" style="display: none">
                    {% for heading in headings %}
                        <option value="{{ heading.id }}">{{ heading.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Теги</label>
                <select name="tags" data-placeholder="выберите теги" multiple class="standardSelect" style="display: none">
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Миниатюра</label>
                <div class="content-thumb">
                    {{ include('site/components/widgets/contentImgUpload.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label>Краткое описание</label>
                <textarea style="height: 100px" name="description" placeholder="Краткое описание" class="form-control"></textarea>
            </div><!-- /.form-group -->
            <div class="form-group">
                <label>Контент</label>
                <textarea style="height: 100px" name="content" placeholder="Контент" class="form-control"></textarea>
            </div><!-- /.form-group -->
            <div class="form-group">
                <label>Галлерея</label>
                <div class="content-gallery">
                    {{ include('site/components/widgets/contentImgUpload.html.twig') }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> {{ btnName }}
                </button>
            </div>
            <div class="form-group">
                <div class="alert alert-dismissible fade article-message" role="alert"></div>
            </div>
        </div>
    </div>
</div><!-- /.content-details -->