<div class="content-img-upload">
    <!-- Область для перетаскивания -->
    <div id="drop-files">
        <p>Перетащите изображение сюда</p>
        <form id="frm">
            <div class="file-upload">
                <label>
                    <input type="file" id="uploadbtn" />
                    <span>Выберите файл</span>
                </label>
            </div>
            <input type="hidden" class="main_img" value="0">
        </form>
        <!-- Область предпросмотра -->
        <div id="uploaded-holder">
            <div id="dropped-files">
                <!-- Кнопки загрузить и удалить, а также количество файлов -->
                <div class="clearfix"></div>
                <div id="upload-button">
                    <span>0 Файлов</span>
                    <a href="javascript:void(0);" class="delete">Удалить все</a>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <!-- Прогресс бар загрузки -->
    <div id="loading">
        <div id="loading-bar">
            <div class="loading-color"></div>
        </div>
        <div id="loading-content"></div>
    </div>
</div>