<!DOCTYPE html>
<html lang="en">
<head>
    <title>Новости</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CSource+Sans+Pro:400,600,700' rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/font-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-image-uploader.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/apple-touch-icon-114x114.png') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/chosen.min.css') }}">

    <!-- Lazyload (must be placed in head in order to work) -->
    <script src="{{ asset('assets/js/lazysizes.min.js') }}"></script>

    <style>
        .pagination li {
            float: left;
            padding: 8px 18px;
        }
        .chosen-container .chosen-drop {
            background: white;
        }
    </style>

</head>

<body class="bg-light style-default style-rounded">

<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
    </div>
</div>

<!-- Bg Overlay -->
<div class="content-overlay"></div>

<!-- Sidenav -->
<header class="sidenav" id="sidenav">

    <!-- close -->
    <div class="sidenav__close">
        <button class="sidenav__close-button" id="sidenav__close-button" aria-label="close sidenav">
            <i class="ui-close sidenav__close-icon"></i>
        </button>
    </div>

    <!-- Nav -->
    <nav class="sidenav__menu-container">
        <ul class="sidenav__menu" role="menubar">
            <li class="sidenav__menu-url">
                <a href="{{ path('site_main_index') }}">Главная</a>
            </li>
            <li class="sidenav__menu-url">
                <a href="#">Онас </a>
            </li>
            <li class="sidenav__menu-url">
                <a href="#">Контакты</a>
            </li>
        </ul>
    </nav>

</header> <!-- end sidenav -->

<main class="main oh" id="main">
    <!-- Top Bar -->
    <div class="top-bar d-none d-lg-block"></div> <!-- end top bar -->
    <!-- Navigation -->
    <header class="nav">

        <div class="nav__holder nav--sticky">
            <div class="container relative">
                <div class="flex-parent">
                    <!-- Side Menu Button -->
                    <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
                        <span class="nav-icon-toggle__box">
                            <span class="nav-icon-toggle__inner"></span>
                        </span>
                    </button>
                    <!-- Logo -->
                    <a href="{{ path('site_main_index') }}" class="logo">
                        <img class="logo__img" src="/assets/img/logo_default.png" srcset="/assets/img/logo_default.png 1x, img/logo_default@2x.png 2x" alt="logo">
                    </a>

                    <!-- Nav-wrap -->
                    <nav class="flex-child nav__wrap d-none d-lg-block">
                        <ul class="nav__menu">

                            <li class="active">
                                <a href="{{ path('site_main_index') }}">Главная</a>
                            </li>
                            <li>
                                <a href="#">Онас </a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul> <!-- end menu -->
                    </nav> <!-- end nav-wrap -->

                    <!-- Nav Right -->
                    <div class="nav__right">
                        <!-- Search -->
                        <div class="nav__right-item nav__search">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('site_article_noPublication') }}"><button class="btn btn-lg btn-color">Новости на модерацию</button></a>
                                <a href="{{ path('site_article_create') }}"><button class="btn btn-lg btn-color">Добавить новость</button></a>
                                <span>{{ app.user.email }}</span>
                            {% endif %}

                            {% if is_granted('ROLE_USER') %}
                                <a href="/logout"><button class="btn btn-lg btn-color">Выход</button></a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}"><button class="btn btn-lg btn-color">Вход</button></a>
                                <a href="{{ path('fos_user_registration_register') }}"><button class="btn btn-lg btn-color">Регистрация</button></a>
                            {% endif %}

                            <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                                <i class="ui-search nav__search-trigger-icon"></i>
                            </a>
                            <div class="nav__search-box" id="nav__search-box">
                                <form class="nav__search-form">
                                    <input type="text" placeholder="Поиск по сайту" class="nav__search-input">
                                    <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                                        <i class="ui-search nav__search-icon"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div> <!-- end nav right -->

                </div> <!-- end flex-parent -->
            </div> <!-- end container -->

        </div>
    </header> <!-- end navigation -->

    <!-- Trending Now -->
    <div class="container">
        <div class="trending-now">
        <span class="trending-now__label">
          <i class="ui-flash"></i>
          <span class="trending-now__text d-lg-inline-block d-none">Важные новости</span>
        </span>
            <div class="newsticker">
                <ul class="newsticker__list">
                    <li class="newsticker__item"><a href="single-post.html" class="newsticker__item-url">A-HA theme is multi-purpose solution for any kind of business</a></li>
                    <li class="newsticker__item"><a href="single-post-1.html" class="newsticker__item-url">Satelite cost tens of millions or even hundreds of millions of dollars to build</a></li>
                    <li class="newsticker__item"><a href="single-post-3.html" class="newsticker__item-url">8 Hidden Costs of Starting and Running a Business</a></li>
                </ul>
            </div>
            <div class="newsticker-buttons">
                <button class="newsticker-button newsticker-button--prev" id="newsticker-button--prev" aria-label="next article"><i class="ui-arrow-left"></i></button>
                <button class="newsticker-button newsticker-button--next" id="newsticker-button--next" aria-label="previous article"><i class="ui-arrow-right"></i></button>
            </div>
        </div>
    </div>

    <div class="main-container container pt-24" id="main-container">
        <!-- Content -->
        <div class="row">
            <!-- Posts -->
            <div class="col-lg-8 blog__content">
                {% block content %}{% endblock %}
            </div> <!-- end posts -->
            {% block sitebar %}
                {{ include('site/components/sidebar.html.twig') }}
            {% endblock %}
        </div> <!-- end content -->
    </div> <!-- end main container -->

    <!-- Footer -->
    <footer class="footer footer--dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget-logo">
                        <p class="copyright">
                            © 2018 Exam - 10
                        </p>
                    </aside>
                </div>
            </div>
        </div> <!-- end container -->
    </footer> <!-- end footer -->

    <div id="back-to-top">
        <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

</main> <!-- end main-wrapper -->

<!-- jQuery Scripts -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/easing.min.js') }}"></script>
<script src="{{ asset('assets/js/owl-carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/flickity.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/js/twitterFetcher_min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.newsTicker.min.js') }}"></script>
<script src="{{ asset('assets/js/modernizr.min.js') }}"></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>
<script src="{{ asset('assets/js/chosen.jquery.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('assets/js/jquery.image.uploader.js') }}"></script>

{% block javaScript %}{% endblock %}

</body>
</html>