{% extends 'layouts/user.layout.html.twig' %}

{% block fos_user_content %}
    <div>
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}