{% extends "layouts/site.layout.html.twig" %}

{% block content %}
    <!-- Latest News -->
    <section class="section tab-post mb-16">
        <div class="title-wrap title-wrap--line">
            <h3 class="section-title">{{ title }}</h3>
        </div>
        <!-- Pagination -->
        <nav class="pagination">
            {{ knp_pagination_render(articles) }}
        </nav>
        <div class="clearfix"></div>
        <hr>
        <div class="row card-row">
            {% for key,article in articles %}
                {% if key < 4 %}
                    <div class="col-md-6">
                        <article class="entry card">
                            <div class="entry__img-holder card__img-holder">
                                <a href="{{ path('site_article_show', {'id' : article.id}) }}">
                                    <div class="thumb-container thumb-70">
                                        <img data-src="{{ asset(article_directory~article.thumb) }}" src="{{ asset(article_directory~article.thumb) }}" class="entry__img lazyload" alt="" />
                                    </div>
                                </a>
                            </div>

                            <div class="entry__body card__body">
                                <div class="entry__header">

                                    <h2 class="entry__title">
                                        <a href="{{ path('site_article_show', {'id' : article.id}) }}">{{ article.title | truncate(60) }}</a>
                                    </h2>
                                    <b>Теги:</b>
                                    {% if article.tagArticle %}
                                        {% for tag in article.tagArticle %}
                                            <a href="{{ path('site_tag_index', {'id' : tag.id}) }}" style="display: inline-block; margin-bottom: 7px;background: #1b96c5;padding: 5px;color: white;">{{ tag.name }}</a>
                                        {% endfor %}
                                    {% endif %}
                                    <ul class="entry__meta">
                                        <li class="entry__meta-author">
                                            <span>Рубрика:</span>
                                            <a href="{{ path('site_heading_index', {'id' : article.heading.id}) }}">{{ article.heading.name }}</a>
                                        </li>
                                        {% if article.datePublication %}
                                        <li class="entry__meta-author">
                                            <span>Дата публикации:</span>
                                            <a href="#">{{ article.datePublication.format("d-m-Y H:i:s") }}</a>
                                        </li>
                                        {% endif %}
                                        <li class="entry__meta-author">
                                            <span>Дата создания:</span>
                                            <a href="#">{{ article.createdAt.format("d-m-Y H:i:s") }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry__excerpt">
                                    <p>{{ article.description | truncate(100) }}</p>
                                </div>
                            </div>
                        </article>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <article class="entry card post-list">
                            <div class="entry__img-holder post-list__img-holder card__img-holder" style="background-image: url('{{ asset(article_directory~article.thumb) }}')">
                                <a href="{{ path('site_article_show', {'id' : article.id}) }}" class="thumb-url"></a>
                                <img src="{{ asset(article_directory~article.thumb) }}" alt="" class="entry__img d-none">
                            </div>
                            <div class="entry__body post-list__body card__body">
                                <div class="entry__header">
                                    <h2 class="entry__title">
                                        <a href="{{ path('site_article_show', {'id' : article.id}) }}">{{ article.title | truncate(60) }}</a>
                                    </h2>

                                    <b>Теги:</b>
                                    {% if article.tagArticle %}
                                        {% for tag in article.tagArticle %}
                                            <a href="{{ path('site_tag_index', {'id' : tag.id}) }}" style="display: inline-block; margin-bottom: 7px;background: #1b96c5;padding: 5px;color: white;">{{ tag.name }}</a>
                                        {% endfor %}
                                    {% endif %}

                                    <ul class="entry__meta">
                                        <li class="entry__meta-author">
                                            <span>Рубрика:</span>
                                            <a href="{{ path('site_heading_index', {'id' : article.heading.id}) }}">{{ article.heading.name }}</a>
                                        </li>
                                        {% if article.datePublication %}
                                            <li class="entry__meta-author">
                                                <span>Дата публикации:</span>
                                                <a href="#">{{ article.datePublication.format("d-m-Y H:i:s") }}</a>
                                            </li>
                                        {% endif %}
                                        <li class="entry__meta-author">
                                            <span>Дата создания:</span>
                                            <a href="#">{{ article.createdAt.format("d-m-Y H:i:s") }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry__excerpt">
                                    <p>{{ article.description | truncate(100) }}</p>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endif%}
            {% endfor %}
        </div>
        <!-- Pagination -->
        <nav class="pagination">
            {{ knp_pagination_render(articles) }}
        </nav>
        <div class="clearfix"></div>

    </section> <!-- end worldwide news -->
{% endblock %}
{% block sitebar %}
    {{ include('site/components/sitebar_main.html.twig') }}
{% endblock %}
{% block javaScript %}

    <script>
        $(document).ready(function() {

            {% if tagsSession %}
                let dataSessionTags = jQuery.parseJSON('{{ tagsSession|raw }}');

                if ('{{ tagsSession|raw }}' !=='null') {
                    for (let i = 0; i < dataSessionTags.length; i++) {
                        $("select[name='filters-tags']").find("option[value="+dataSessionTags[i]+"]").attr("selected", true);
                    }
                }
            {% endif %}

            {% if headingSession %}
                $("select[name='filters-heading']").find("option[value={{ headingSession|raw }}]").attr("selected", true);
            {% endif %}


            $(".standardSelect").chosen({
                disable_search_threshold: 10,
                no_results_text: "Ой, ничего не найдено!",
                width: "100%"
            });

            $(document).on("click", ".btn-setFilters-article", function (e) {
                e.preventDefault();

                let href = $(this).attr("href");
                let formData = {};
                formData['filters-heading'] = $("select[name='filters-heading']").val();
                formData['filters-tags'] = $("select[name='filters-tags']").val();

                console.log(formData);

                $.post(href, formData)
                    .done(function (response) {
                        if (response.status) {
                            window.location.href = "{{ path('site_main_index') }}";
                        } else {
                            alert(response.message);
                        }
                    })
                    .fail(function (reason) {
                        alert(reason.message);
                    })
                ;
            });

        });
    </script>
{% endblock %}