<!-- Sidebar -->
<aside class="col-lg-4 sidebar sidebar--right">

    {% block fiters %} {% endblock %}

    <!-- Widget Categories -->
    <aside class="widget widget_categories">
        <h4 class="widget-title">Рубрики</h4>
        <ul>
             {% for heading in headings %}
                <li><a href="{{ path('site_heading_index', {'id' : heading.id}) }}">{{ heading.name }} <span class="categories-count">{{ heading.articles.count }}</span></a></li>
             {% endfor %}
        </ul>
    </aside> <!-- end widget categories -->

</aside> <!-- end sidebar -->