{% extends 'site/components/sidebar.html.twig' %}

{% block fiters %}
    <!-- Widget Categories -->
    <aside class="widget widget_categories">
        <h4 class="widget-title">Фильтры</h4>

        <div class="content-details show">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Рубрика</label>
                        <select name="filters-heading" data-placeholder="выберите Рубрику" class="standardSelect" style="display: none">
                            <option value="">Выберите рубрику</option>
                            {% for heading in headings %}
                                <option value="{{ heading.id }}">{{ heading.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Теги</label>
                        <select name="filters-tags" data-placeholder="выберите теги" multiple class="standardSelect" style="display: none">
                            {% for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <div class="form-group">
                        <a href="{{ path('site_main_set_filters') }}" class="btn-setFilters-article"><button class="btn btn-lg btn-color">Применить</button></a>
                        <a href="{{ path('site_main_reset_filters') }}"><button class="btn btn-lg btn-color">Сбросить</button></a>
                    </div>
                </div>
            </div>
        </div>
    </aside> <!-- end widget categories -->
{% endblock %}