{% extends 'layouts/site.layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title">Добавление статьи</h4><!-- /.content-title -->
                </div><!-- /.content-head -->
                <form action="{{ path('site_article_add') }}" method="post" id="form-article" enctype="multipart/form-data" class="form-horizontal">
                    {{ include('site/article/form/formField.html.twig', {'headings' : headings, 'tags' : tags, 'btnName' : 'Добавить'}) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javaScript %}

    <script>
        $(document).ready(function() {

            $(".standardSelect").chosen({
                disable_search_threshold: 10,
                no_results_text: "Ой, ничего не найдено!",
                width: "100%"
            });

            let thumb = new JqueryImageUploader({
                mainBlockName: ".content-thumb",
                maxFiles: 1,
                thumb: true
            });

            thumb.init();

            let gallery = new JqueryImageUploader({
                urlUploadImage: '{{ path('site_article_upload_image') }}',
                mainBlockName: ".content-gallery",
                maxFiles: 10
            });

            gallery.init();

            $("#form-article").submit(function (e) {
                e.preventDefault();

                let $btn = $(this).find("button[type=submit]");
                let formData = {};
                let $fields = $(this).find("input, textarea, select");
                let $categoryMessage = $(".article-message");

                $btn.attr("disabled", true);
                $fields.each(function() {
                    let value = $(this).val();

                    if (this.name === 'active') {
                        value = $(this).prop("checked");
                    }

                    formData[this.name] = value;
                });

                $.post($(this).attr("action"), {formData:formData, thumbData:thumb.dataArray})
                    .done(function (response) {
                        if (response.status) {

                            gallery.uploadLoadingItemImg(response.lastId, function () {
                                window.location.href = "{{ path('site_main_index') }}";
                            });

                            $categoryMessage
                                .removeClass("alert-danger")
                                .addClass("show")
                                .addClass("alert-success")
                                .html(response.message);

                            setInterval(function () {
                                window.location.href = "{{ path('site_main_index') }}";
                            }, 2000);
                        } else {
                            $categoryMessage
                                .removeClass("alert-success")
                                .addClass("show")
                                .addClass("alert-danger")
                                .html(response.message);

                            $btn.attr("disabled", false);
                        }
                    })
                    .fail(function (reason) {
                        $categoryMessage
                            .removeClass("alert-success")
                            .addClass("show")
                            .addClass("alert-danger")
                            .html(reason.responseText);
                        $btn.attr("disabled", false);
                        console.log(reason);
                    })
                ;

            });
        });
    </script>
{% endblock %}