{% extends 'layouts/site.layout.html.twig' %}

{% block content %}
<!-- post content -->
<div class="content-box">

    {% if article %}

    <!-- standard post -->
    <article class="entry mb-0">

        {% if is_granted('ROLE_ADMIN') %}
            {% if not article.active %}
                <input type="text" class="publishDate publishDate" placeholder="Выберите дату публикации" dataformatas="dd/MM/yyyy">
                <a href="{{ path('site_article_publication', {'id' : article.id}) }}" class="btn-publishDate-article"><button class="btn btn-lg btn-color">Опубликовать</button></a>
                <hr>
            {% endif %}
        {% endif %}

        <div class="single-post__entry-header entry__header">
            Рубрика:
            <a href="{{ path('site_heading_index', {'id' : article.heading.id}) }}" class="entry__meta-category entry__meta-category--label entry__meta-category--green">{{ article.heading.name }}</a>
            <h1 class="single-post__entry-title">
                {{ article.title }}
            </h1>

            <div class="entry__meta-holder">
                <ul class="entry__meta">
                    {% if article.datePublication %}
                        <li>
                            <span>Дата публикации:</span>
                            <a href="#">{{ article.datePublication.format("d-m-Y H:i:s") }}</a>
                        </li>
                    {% endif %}
                    <li>
                        <span>Дата создания:</span>
                        <a href="#">{{ article.createdAt.format("d-m-Y H:i:s") }}</a>
                    </li>
                </ul>

                <ul class="entry__meta">
                    <li class="entry__meta-views">
                        <i class="ui-eye"></i>
                        <span>0</span>
                    </li>
                    <li class="entry__meta-comments">
                        <a href="#">
                            <i class="ui-chat-empty"></i>{{ article.comments.count }}
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end entry header -->

        <div class="entry__img-holder">
            <img src="{{ asset(article_directory~article.thumb) }}" alt="" class="entry__img">
        </div>

        <div class="entry__article-wrap">

            <div class="entry__article">
                <p>{{ article.content }}</p>

                {% if article.imageGalleries  %}
                    {% for gallery in article.imageGalleries %}
                        <div class="entry__img-holder">
                            <img src="{{ asset(image_gallery_directory~gallery.name) }}" alt="" class="entry__img">
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- tags -->
                <div class="entry__tags">
                    <i class="ui-tags"></i>
                    <span class="entry__tags-label">Теги:</span>
                    {% if article.tagArticle %}
                        {% for tag in article.tagArticle %}
                            <a href="{{ path('site_tag_index', {'id' : tag.id}) }}" rel="tag">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div> <!-- end tags -->

            </div> <!-- end entry article -->
        </div> <!-- end entry article wrap -->

        <!-- Author -->
        <div class="entry-author clearfix">
            <img alt="" data-src="/assets/img/content/single/author.jpg" src="/assets/img/empty.png" class="avatar lazyload">
            <div class="entry-author__info">
                <h6 class="entry-author__name">
                    Автор: <a href="#">{{ article.user.email }}</a>
                </h6>
            </div>
        </div>

    </article> <!-- end standard post -->

    <!-- Comments -->
    <div class="entry-comments">
        <div class="title-wrap title-wrap--line">
            <h3 class="section-title">Коментарии</h3>
        </div>
        <ul class="comment-list">
            {% for comment in article.comments %}
                {{ include('site/comment/list.html.twig', {'comment' : comment}) }}
            {% endfor %}
        </ul>
    </div> <!-- end comments -->

    <!-- Comment Form -->
    <div id="respond" class="comment-respond">
        <div class="title-wrap">
            <h5 class="comment-respond__title section-title">Оставить коментарий</h5>
        </div>
        <form id="form-comment" class="comment-form" method="post" action="{{ path('site_comment_add', {'id' : article.id}) }}">
            <p class="comment-form-comment">
                <label for="comment">Коментарий</label>
                <textarea id="comment" name="content" rows="5" required="required"></textarea>
            </p>
            <p class="comment-form-submit">
                <button type="submit" class="btn btn-lg btn-color btn-button" >Коментировать</button>
            </p>
            <hr>
            <p class="comment-form-comment">
                <div class="alert alert-dismissible fade comment-message" role="alert"></div>
            </p>
        </form>
    </div> <!-- end comment form -->

    {% else %}
        <h3>Статья не найдена</h3>
    {% endif %}

</div> <!-- end content box -->
{% endblock %}
{% block javaScript %}

    <script>
        $(document).ready(function() {

            let publishDate = $('.publishDate');
            publishDate.datepicker({
                dateFormat: 'dd/mm/yy'
            });


            $(document).on("click", ".delete-comment", function (e) {
                e.preventDefault();

               let href = $(this).attr("href");
               let id = $(this).attr("data-id");

                $.post(href)
                    .done(function (response) {
                        if (response.status) {
                            alert(response.message);
                            $(".comment-id-"+id).remove();
                        } else {
                           alert(response.message);
                        }
                    })
                    .fail(function (reason) {
                        alert(reason.message);
                    })
                ;
            });

            $(document).on("click", ".btn-publishDate-article", function (e) {
                e.preventDefault();

               let href = $(this).attr("href");
               let publication = $(".publishDate").val();

                $.post(href, {"publication":publication})
                    .done(function (response) {
                        if (response.status) {
                            alert(response.message);
                            window.location.href = "{{ path('site_article_show', {'id' : article.id}) }}";
                        } else {
                           alert(response.message);
                        }
                    })
                    .fail(function (reason) {
                        alert(reason.message);
                    })
                ;
            });


            $("#form-comment").submit(function (e) {
                e.preventDefault();

                let $btn = $(this).find("input[type=submit]");
                let formData = {};
                let $fields = $(this).find("input, textarea, select");
                let $commentMessage = $(".comment-message");

                $btn.attr("disabled", true);
                $fields.each(function() {
                    let value = $(this).val();

                    if (this.name === 'active') {
                        value = $(this).prop("checked");
                    }

                    formData[this.name] = value;
                });

                $.post($(this).attr("action"), {formData:formData})
                    .done(function (response) {
                        if (response.status) {
                            $commentMessage
                                .removeClass("alert-danger")
                                .addClass("show")
                                .addClass("alert-success")
                                .html(response.message);

                            $fields.each(function() {
                                $(this).val("");
                            });
                            $(".comment-list").append(response.commentContent);
                        } else {
                            $commentMessage
                                .removeClass("alert-success")
                                .addClass("show")
                                .addClass("alert-danger")
                                .html(response.message);

                            $btn.attr("disabled", false);
                        }
                    })
                    .fail(function (reason) {
                        $commentMessage
                            .removeClass("alert-success")
                            .addClass("show")
                            .addClass("alert-danger")
                            .html(reason.responseText);
                        $btn.attr("disabled", false);
                        console.log(reason);
                    })
                ;

            });
        });
    </script>
{% endblock %}
