<li class="comment comment-id-{{ comment.id }}">
    <div class="comment-body">
        <div class="comment-avatar">
            <img alt="" src="/assets/img/content/single/comment_1.jpg">
        </div>
        <div class="comment-text">
            <h6 class="comment-author">{{ comment.user.email }} </h6>
            <div class="comment-metadata">
                <a href="#" class="comment-date">{{ comment.createdAt.format("d-m-Y H:i:s") }} </a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="comment-metadata">
                <a href="{{ path('site_comment_delete', {'id' : comment.id }) }}" data-id="{{ comment.id }}" class="delete-comment"><button class="btn btn-lg btn-color">удалить</button></a>
            </div>
            {% endif %}
            <p>{{ comment.content }}</p>
        </div>
    </div>
</li> <!-- end 1-2 comment -->